[Desktop Entry]
Name[ca]=Zrythm
Name[de]=Zrythm
Name[el]=Zrythm
Name[es]=Zrythm
Name[fr]=Zrythm
Name[gl]=Zrythm
Name[hi]=Zrythm
Name[hu]=Zrythm
Name[it]=Zrythm
Name[ja]=Zrythm
Name[ko]=Zrythm
Name[nb_NO]=Zrythm
Name[mk]=Zrythm
Name[nl]=Zrythm
Name[pt]=Zrythm
Name[pt_BR]=Zrythm
Name[ru]=Zrythm
Name[tr]=Zrythm
Name[uk]=Zrythm
Name[zh_CN]=Zrythm
Name[zh_TW]=Zrythm
Name=Zrythm
GenericName[ar]=محطة عمل الصوت الرقمي
GenericName[ca]=Estació de treball d'àudio digital
GenericName[de]=Digitale Audioworkstation
GenericName[el]=Ψηφιακός σταθμός επεξεργασίας ήχου
GenericName[en_GB]=Digital Audio Workstation
GenericName[es]=Estación de trabajo de audio digital
GenericName[fr]=Station de travail audio numérique
GenericName[gl]=Estación de Traballo de Audio Dixital
GenericName[he]=עמדת עבודה לאודיו דיגיטלית
GenericName[hu]=Digitális Audio Munkaállomás
GenericName[id]=Workstation Audio Digital
GenericName[ja]=デジタル・オーディオ・ワークステーション
GenericName[ko]=디지털 오디오 워크스테이션
GenericName[nb_NO]=Arbeidsstasjon for digital lyd
GenericName[mk]=Работна станица за дигитално аудио
GenericName[pl]=Cyfrowa stacja robocza
GenericName[pt]=Estação de Trabalho de Áudio Digital
GenericName[pt_BR]=Estação de Trabalho de Áudio Digital
GenericName[ru]=Цифровая звуковая рабочая станция
GenericName[sv]=Digital Audio Workstation
GenericName[tr]=Dijital Ses İş İstasyonu
GenericName[uk]=Цифрова звукова робоча станція
GenericName[zh_CN]=数字音频工作站
GenericName[zh_TW]=數位音樂工作站
GenericName=Digital Audio Workstation
Comment[ca]=estació de treball d'àudio digital altament automatitzada i intuïtiva
Comment[de]=eine hochautomatisierte und intuitive digitale Audioworkstation
Comment[el]=εξαιρετικά αυτοματοποιημένος και εύληπτος ψηφιακός σταθμός επεξεργασίας ήχου
Comment[es]=una estación de trabajo digital para audio altamente automatizada e intuitiva
Comment[fr]=une station de travail audio numérique (STAN) hautement automatisée et intuitive
Comment[gl]=unha estación de traballo de audio dixital intuitiva e moi automatizada
Comment[hu]=magas szinten automatizált és intuitív digitális audio munkaállomás
Comment[ja]=高度に自動化された直感的なデジタルオーディオワークステーション
Comment[nb_NO]=inngående automasjon og intuitiv digital lyd-arbeidsstasjon
Comment[mk]=високо автоматизирана и интуитивна работна станица за дигитално аудио
Comment[pt]=Uma estação de trabalho de áudio digital altamente automatizada e intuitiva
Comment[pt_BR]=estação de áudio digital intuitiva e altamente automatizada
Comment[ru]=высокоавтоматизированная и простая в использовании цифровая звуковая рабочая станция
Comment[zh_CN]=高度自动化和直观的数字音频工作站
Comment=highly automated and intuitive digital audio workstation
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=daw;àudio;midi;música;
Keywords[de]=daw;audio;midi;musik;
Keywords[es]=daw;audio;midi;música;
Keywords[fr]=stan;daw;audio;midi;musique ;
Keywords[hu]=daw;audio;midi;music;zene;zeneszerkesztő;audió;
Keywords[ja]=daw;オーディオ;MIDI;音楽;
Keywords[mk]=дарс;аудио;миди;музика;
Keywords=daw;audio;midi;music;
Exec=zrythm
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.zrythm.Zrythm
Type=Application
StartupNotify=true
Categories=AudioVideoEditing;Recorder;Music;AudioVideo;Audio;Sequencer;X-Sound;Midi;X-Jack;
MimeType=application/x-zrythm-project;
StartupWMClass=zrythm

X-AppImage-Name=Zrythm
X-AppImage-Version=1.0.0-5
X-AppImage-Arch=x86_64
